
<main>
	<div class="books-headline">
		<h1>Books</h1>
        <h4>Title</h4>
        <h4>Body</h4>
		<section class="">
			<% @books.each do |book| %>
			  <span><%= book.title %></span>
			  <span><%= book.body %></span>

              <ul class="books-item">
			    <li><%= link_to "Show", book_path(book.id) %></li>
			    <li><%= link_to "Edit", edit_book_path(book.id) %></li>
			  </ul>
			<% end %>
		</section>
	</div>
</main>